# Ignore log files
*.log

# Ignore operating system-specific files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE configuration files
/.idea/
/.vscode/
*.iml

# Ignore pycache
__pycache__/

# Ignore .specstory
.specstory/**

# Ignore config files
config/*

# Ignore examples files
examples/**

# Ignore tests files
tests/**

# Ignore intermediate results
results/**

# Ignore log files
logs/

# Ignore databases and some files in data
# Especially large files
data/bird_dev_gold_empty_count.txt
data/bird_train_gold_empty_count.txt
data/*.json
data/labeled/*.jsonl
data/merged_databases/**
data/gold_schema_linking/**
data/sft/**
data/dpo/**
data/pairwise/**
data/cascade/**

# Do not ignore config files examples and training config files
!config/config_example.yaml
!config/sft_config.yaml
!config/dpo_config.yaml
!config/roberta_config.yaml
!config/pairwise_config.yaml
!config/qwen_cascade_config.yaml
!config/roberta_cascade_config.yaml

# Do not ignore important data files
!data/bird/**
!data/labeled/bird_dev_pipeline_label.jsonl
!data/labeled/bird_train_pipeline_label.jsonl

# Do not ignore examples/main.py file
!examples/main.py